doctype html
html
  head
    title my jade template
  body

    h1 Create new            
    form(name="editPoem", action="/", method="post")
      | Title:
      input(type="text", name="title")

      | Author:
      input(type="text", name="author")
      
      | Poem:
      textArea(name="poemBody")

      input(type="submit", value="Create")

    h1.text-center All Poems
    ul
      for poem in poems
        li #{poem.title} - #{poem.author} - #{poem._id}
        form(name="updatePoem", action="/update", method="post")
          input(type="text", name="title", value='#{poem.title}')
          input(type="text", name="author", value='#{poem.author}')
          input(type="submit", value="Update")
          input(type="hidden", name="_id", value='#{poem._id}')
        form(name="deletePoem", action="/delete", method="post")
          input(type="submit", value="Delete")
          input(type="hidden", name="_id", value='#{poem._id}')
            
